@import "tailwindcss";

@theme {
  --color-brand-green: #0A6702;
  --color-brand-gold: #F9B122;
  --color-brand-navy: #00417E;

  --color-solar-green: #0A6702;
  --color-solar-gold: #F9B122;
  --color-solar-navy: #00417E;
}

@layer base {
  :root {
    --brand-green: #0A6702;
    --brand-gold: #F9B122;
    --brand-navy: #00417E;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased font-sans;
}
